.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set a minimum height to cover the entire viewport */
    background-color: #d1e6fa;; /* Light background color */
}

.page-title {
    color: #333; /* Text color */
}
