/* src/components/ShowDetails.css */

.show-details-container {
    background-color: #f2f7fb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.show-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.show-details-title {
    color: #333;
    margin-bottom: 10px;
}

.show-details-info {
    color: #555;
    margin-bottom: 8px;
}

.show-details-summary {
    color: #777;
    margin-bottom: 12px;
    max-width: 80%;
    /* Set the maximum width */
    margin: 0 auto;
    /* Center the summary */
    text-align: left;
    /* Align text to the left within the summary */
}